---
layout: page
title: "Posts"
permalink: /posts/
---

<style>
.collapsible:hover {
  background-color: #eee;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible {
  padding-left: 10px;
  padding-right: 10px;
}

.active:after {
  content: '\2212';
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding-left: 10px;
  padding-right: 10px;
}
</style>
<script>
function collapsible_onclick(me) {
  me.classList.toggle("active");
  var content = me.nextElementSibling;
  if (content.style.maxHeight){
    content.style.maxHeight = null;
  } else {
    content.style.maxHeight = content.scrollHeight + "px";
  } 
};
</script>

{% for category in site.categories %}
  {% capture cat %}{{ category | first }}{% endcapture %}
  <h2 class="collapsible" id="{{cat}}" onclick="collapsible_onclick(this)">{{ cat }}</h2>
  <div class="content">
  {% for desc in site.descriptions %}
    {% if desc.cat == cat %}
      <p class="desc"><em>{{ desc.desc }}</em></p>
    {% endif %}
  {% endfor %}
  <ul class="posts-list">
  {% assign sorted_post = site.categories[cat] | sort: 'title' %}
  {% for post in sorted_post %}
    <li>
      <strong>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </strong>
      <span class="post-date">- {{ post.date | date_to_long_string }}</span>
    </li>
  {% endfor %}
  </ul>
  </div>
{% endfor %}
<br>
